<% include ../../partials/header %>
<% include ../../partials/header-navbar.ejs %>
<div class="col-12">
	<div class="row">
		<div class="col-2 col-md-2 col-sm-2 col-lg-2">
			
		</div>
	
		<div class="col-10 col-md-10 col-sm-10 col-lg-10">
			<h3>Most Popular Product</h3>
			<% if (product_category) { %>
				<div class="row">
					<% product_category.forEach(function(product) { %>
				        <div class="col-6 col-md-2 col-sm-2 col-lg-2">
							<div class="form-group">
								<div class="card shadow-sm">
									<img src="https://nham24.com/upload/1524981522-Spicy-Pork.jpg" class="card-img-top" alt="...">
									<div class="card-body">
									    <h6 class="card-title"><%= product.product_name.length > 25 ? product.product_name.substring(0, 24) + '' : product.product_name %></h6>
									    <p class="card-text">Some quick.</p>
									    <a href="#" class="btn btn-outline-">Go somewhere</a>
									</div>
								</div>
							</div>
						</div>
				    <% }); %>
				</div>
			<% } %>

		</div>
	</div>
</div>
<br>
<% include ../../partials/footer %>