<% include ../partials/header %>
<% include ../partials/header-navbar.ejs %>
<div class="col-12">
	<div class="row">
		<div class="col-2 col-md-2 col-sm-2 col-lg-2">
			<% include ../partials/left-navbar.ejs %>
		</div>
	
		<div class="col-10 col-md-10 col-sm-10 col-lg-10">
			<% include ../partials/slide_show.ejs %>
			<% include ../home/product/product.ejs %>
		</div>
	</div>
</div>
<br>
<% include ../partials/footer %>